{% extends 'index.html' %}


{% block content %}

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.product_name}}</h5>
                            <!-- Product price-->
                            {{product.price}}
                            {{product.discription}}
                        </div>
                    </div>
                    
                    </div>
                </div>
          

</div>

<div class="col-4">

    <form action="" method="post">
        {% csrf_token %}
        {{addcart}}
        
    
    <input type="submit">

</div>





</div>







</form>
<!-- </div> -->
                
{% endblock %}